# Momentum Trading Strategy

Trend following strategy

In [17]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import yfinance as yf

## Download data

We're gonna sue yahoo finance api and look at the golf etf

In [30]:
gld = yf.download("GLD")
day = np.arange(1, len(gld)+1)
gld['day'] = day
gld.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume day
Ticker            GLD        GLD        GLD        GLD       GLD
Date
2004-11-18  44.380001  44.490002  44.070000  44.430000   5992000   1
2004-11-19  44.779999  44.919998  44.470001  44.490002  11655300   2
2004-11-22  44.950001  44.970001  44.740002  44.750000  11996000   3
2004-11-23  44.750000  44.919998  44.720001  44.880001   3169200   4
2004-11-24  45.049999  45.049999  44.790001  44.930000   6105100   5